<?xml version="1.0" encoding="UTF-8"?>
<suite name="WebDriverManager Demo" verbose="10" parallel="false" thread-count="1">

    <test name="Open QACaffe in Google Chrome browser.">
        <classes>
            <class name="com.qacaffe.TestChrome">
                <methods>
                    <include name="openQACaffe_chrome"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Open QACaffe in MS Edge browser.">
        <classes>
            <class name="com.qacaffe.TestEdge">
                <methods>
                    <include name="openQACaffe_edge"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Open QACaffe in Mozilla Firefox browser.">
        <classes>
            <class name="com.qacaffe.TestFirefox">
                <methods>
                    <include name="openQACaffe_firefox"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Open QACaffe in Internet Explorer browser.">
        <classes>
            <class name="com.qacaffe.TestIExplorer">
                <methods>
                    <include name="openQACaffe_iExplorer"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>